.history
api-docs
build-output
.idea
.DS_Store
.divshot-cache
node_modules
.surgeignore
build.txt
npm-debug.log
http.log
http_ebooks.log
http_app.log
http_app-ebooks.log
dev/grunt_build/node_modules
dev/grunt_build/js/TreineticEpubReader.js
dev/grunt_build/css/TreineticEpubReader.css

# Build Artifacts
# /dist
dist-modern
coverage
*.local
.env

# OS
.DS_Store
Thumbs.db

